<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SindromK - Projects</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
</head>
<body>
<div id="main_container">
  <div id="header">
    <div id="logo"><a href="http://all-free-download.com/free-website-templates/"><img src="../../static/images/logo.gif" alt="" border="0" /></a></div>
    <div id="menu_tab">
      <ul class="menu">
        <li><a href="index.html" class="nav_home"> HOME </a></li>
        <li><a href="about.html" class="nav_about"> ABOUT</a></li>
        <li><a href="projects.html" class="nav_services"> PROJECTS</a></li>
        <li><a href="contact.html" class="nav_contact"> CONTACT </a></li>
        <li><a href="http://all-free-download.com/free-website-templates/" class="nav_help"> HELP</a></li>
      </ul>
    </div>
  </div>
  <div id="main_content">
    <div class="left_content">
      <div class="featured_project">
        <h1>Latest Projects</h1>
        <a href="http://all-free-download.com/free-website-templates/" class="project_title">Custom Advertising</a> <a href="http://all-free-download.com/free-website-templates/"><img src="../../static/images/project.gif" alt="" border="0" /></a> <a href="http://all-free-download.com/free-website-templates/" class="view_project">view project</a> </div>
      <div class="featured_project"> <a href="http://all-free-download.com/free-website-templates/" class="project_title">Custom Advertising</a> <a href="http://all-free-download.com/free-website-templates/"><img src="../../static/images/project.gif" alt="" border="0" /></a> <a href="http://all-free-download.com/free-website-templates/" class="view_project">view project</a> </div>
      <div class="featured_project"> <a href="http://all-free-download.com/free-website-templates/" class="project_title">Custom Advertising</a> <a href="http://all-free-download.com/free-website-templates/"><img src="../../static/images/project.gif" alt="" border="0" /></a> <a href="http://all-free-download.com/free-website-templates/" class="view_project">view project</a> </div>
      <a href="http://all-free-download.com/free-website-templates/" class="read_more">next projects</a> </div>
    <!-- end of left content-->
    <div class="right_content">
      <div class="blog_title">from the blog</div>
      <div class="right_box">
        <div class="right_box_top"></div>
        <div class="right_box_center">
          <p class="text_box"> <span class="orange">Nemo enim ipsam voluptatem quia voluptas sit </span><br />
            <i>(13.07.09)</i><br  />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
          <p class="text_box"> <span class="orange">Nemo enim ipsam voluptatem quia voluptas sit </span><br />
            <i>(13.07.09)</i><br  />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
          <a href="http://all-free-download.com/free-website-templates/" class="read_more">all news</a>
          <div class="clear"></div>
        </div>
        <div class="right_box_bottom"></div>
      </div>
      <div class="testimonials_title">clients testimonials</div>
      <div class="right_box">
        <div class="right_box_top"></div>
        <div class="right_box_center">
          <p class="text_box"> <span class="orange">Tommy Voluptatem </span><br />
            <i>(Enterprice Name)</i><br  />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
          <p class="text_box"> <span class="orange">Tommy Voluptatem</span><br />
            <i>(Enterprice Name)</i><br  />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
          <a href="http://all-free-download.com/free-website-templates/" class="read_more">all news</a>
          <div class="clear"></div>
        </div>
        <div class="right_box_bottom"></div>
      </div>
    </div>
    <!-- end of left content-->
    <div class="clear"></div>
  </div>
  <!-- main_content-->
  <div id="footer"> <img src="../../static/images/footer_logo.gif" alt="" class="footer_logo" />
    <div class="left_footer"> Website name &copy; 2009. All Rights Reserved. </div>
    <div class="right_footer"> <a href="http://all-free-download.com/free-website-templates/">Home</a> | <a href="http://all-free-download.com/free-website-templates/">About Us</a> | <a href="http://all-free-download.com/free-website-templates/">Pivacy Policy</a> | <a href="http://all-free-download.com/free-website-templates/">Contact</a> | <a href="http://indeziner.com">INDEZINER</a> </div>
  </div>
</div>
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
